{% extends "base.html" %}
{% block head %}
    <title>About</title>
    <link rel="stylesheet" href="styles/about.css">
{% endblock %}
{% block content %}
<div class="about">
    <h2>About us</h2>
    <div class="about-info">
        <p>Our store specializes in providing high-quality sports shoes.</p>
        <p>We strive to offer the widest range of products to our customers.</p>
        <p>Our team consists of experienced specialists who are ready to help you with your choice and answer all your questions.</p>
        <p>We value every client and strive to provide the highest level of service.</p>
    </div>
    <div class="team">
        <div class="team-member">
            <img src="static/sanjar.jpg" alt="Member 1">
            <h3>Abdukhalikov Sanzhar</h3>
            <p>Founder & CEO</p>
        </div>
        <div class="team-member">
            <img src="static/nurym.jpg" alt="Member 2">
            <h3>Beisenbekov Nurym</h3>
            <p>Marketing Manager</p>
        </div>
        <div class="team-member">
            <img src="static/askhat.jpg" alt="Member 3">
            <h3>Ashimov Askat</h3>
            <p>Customer Support Specialist</p>
        </div>
        <div class="team-member">
            <img src="static/beka.jpg" alt="Member 4">
            <h3>Tursyn Bekmyrza</h3>
            <p>Product Specialist</p>
        </div>
    </div>
</div>
{% endblock %}
