{% extends "base.html" %}

{% block head %}
    <title>Catalog</title>
    <link rel="stylesheet" href="styles/catalog.css">
{% endblock %}

{% block content %}
<div class="company">
    <div class="company-box">
        <img src="static/nike-logo.jpg" alt="Nike Logo">
        <p>Nike Air Jordan</p>
    </div>
    <div class="company-box">
        <img src="static/adidas-logo.jpg" alt="Adidas Logo">
        <p>Adidas Yeezy</p>
    </div>
    <!-- Добавьте здесь другие компании, если необходимо -->
</div>
{% endblock %}
