{% extends "base.html" %}

{% block head %}
    <title>Catalog</title>
    <link rel="stylesheet" href="styles/catalog.css">
{% endblock %}

{% block content %}
<div class="company">
    <div class="company-box">
        <a href="category?category_id=1"> <!-- Replace 'nike_product_page' with the actual URL or route for Nike products -->
            <img src="static/jordan-logo.png" alt="Jordan Logo">
            <p>Nike Air Jordan</p>
        </a>
    </div>
    <div class="company-box">
        <a href="category?category_id=2"> <!-- Replace 'adidas_product_page' with the actual URL or route for Adidas products -->
            <img src="static/Yeezy-Logo.png" alt="Yeezy Logo">
            <p>Adidas Yeezy</p>
        </a>
    </div>
    <div class="company-box">
        <a href="category?category_id=3"> <!-- Replace 'adidas_product_page' with the actual URL or route for Adidas products -->
            <img src="static/timberland-logo.png" alt="Timberland Logo">
            <p>Timberland</p>
        </a>
    </div>
    <div class="company-box" style="margin-top: 20px">
        <a href="category?category_id=4"> <!-- Replace 'adidas_product_page' with the actual URL or route for Adidas products -->
            <img src="static/Dr.-Martens-logo.png" alt="Dr. Martens Logo">
            <p>Dr. Martens</p>
        </a>
    </div>
</div>

<div class="company">
    <div class="company-box" style="margin-top: 20px">
        <a href="category?category_id=5"> <!-- Replace 'nike_product_page' with the actual URL or route for Nike products -->
            <img src="static/New-Balance-Logo-2006.png" alt="New Balance Logo">
            <p>New Balance</p>
        </a>
    </div>
    <div class="company-box">
        <a href="category?category_id=6"> <!-- Replace 'adidas_product_page' with the actual URL or route for Adidas products -->
            <img src="static/nike-logo.jpg" alt="Nike Logo">
            <p style="margin-top:-10px">Nike</p>
        </a>
    </div>
    <div class="company-box">
        <a href="category?category_id=7"> <!-- Replace 'adidas_product_page' with the actual URL or route for Adidas products -->
            <img src="static/adidas-logo.jpg" alt="Adidas Logo">
            <p>Adidas</p>
        </a>
    </div>
    <div class="company-box">
        <a href="category?category_id=8"> <!-- Replace 'adidas_product_page' with the actual URL or route for Adidas products -->
            <img src="static/Logo Crocs.png" alt="Crocs Logo">
            <p>Crocs</p>
        </a>
    </div>
</div>
{% endblock %}
