{% extends "base.html" %}


{% block head %}

{% endblock %}

{% block content %}
<div class="product-container">
    {% for product in products %}
        <div class="card">
            <!-- Product Image -->
            <img src="static/{{ product.product_image }}" class="card-img-top" alt="{{ product.name }}">

            <div class="card-body">
                <!-- Product Name -->
                <h5 class="card-title">{{ product.name }}</h5>

                <!-- Product Price -->
                <p class="card-text">${{ product.price }}</p>

                <!-- Add to Cart Button -->
                <button class="btn btn-primary add-to-cart"
                        data-product="{{ product.name }}"
                        data-price="{{ product.price }}">
                    Add to cart
                </button>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}