{% extends "base.html" %}


{% block head%}
    <title>Sneagers</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}
<div id="carousel-container">
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner" style="margin-bottom: 30px">
      <div class="carousel-item active">
          <img src="static/1.jpg" alt="hadogkoaedg" class="d-block w-100">
          <div class="carousel-caption">
              <h3>Sneagers Shop</h3>
              <p>Your way to oKKK style</p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="static/9573-wires-sneakers-shoes-cable-4k.jpg" alt="Logo" class="d-block w-100">
        <div class="carousel-caption">
            <h3>Sneagers Shop</h3>
            <p>Your way to oKKK style</p>
        </div>
    </div>
      <div class="carousel-item">
        <img src="static/kanye-west-sneakers_1.jpg" alt="kanye" class="d-block w-100">
        <div class="carousel-caption">
            <h3>Sneagers Shop</h3>
            <p>Your way to oKKK style</p>
        </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</div>

<hr>

<div class="product-container" style="margin-top: 25px">
    {% for product in products %}
        <div class="card">
            <!-- Product Image -->
            <img src="static/{{ product.product_image }}" class="card-img-top" alt="{{ product.name }}">

            <div class="card-body">
                <!-- Product Name -->
                <h5 class="card-title">{{ product.name }}</h5>

                <!-- Product Price -->
                <p class="card-text">${{ product.price }}</p>

                    <!-- Add to Cart Button -->
                <button class="btn btn-primary add-to-cart"
                        data-product="{{ product.name }}"
                        data-price="{{ product.price }}"
                        data-product-id="{{ product.id }}">
                    Add to cart
                </button>
            </div>
        </div>
    {% endfor %}
</div>



{% endblock %}