{% extends "base.html" %}

{% block head %}
    <title>Services</title>
    <link rel="stylesheet" href="styles/services.css">
{% endblock %}

{% block content %}
<div class="services">
    <div class="service">
        <h2>Free Shipping</h2>
        <p>Get free shipping for orders over a certain amount.</p>
    </div>
    <div class="service">
        <h2>Exchange and Refund</h2>
        <p>Guarantee of exchange or return of goods within a certain period.</p>
    </div>
    <div class="service">
        <h2>Support Service</h2>
        <p>24/7 customer support to solve your questions.</p>
    </div>
    <!-- Добавьте здесь другие услуги, предоставляемые вашим магазином -->
</div>
{% endblock %}
