{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="styles/services.css">
{% endblock %}

{% block content %}
<div class="services">
    <div class="service">
        <h2>Бесплатная доставка</h2>
        <p>Получите бесплатную доставку для заказов свыше определенной суммы.</p>
    </div>
    <div class="service">
        <h2>Обмен и возврат</h2>
        <p>Гарантия обмена или возврата товара в течение определенного периода.</p>
    </div>
    <div class="service">
        <h2>Служба поддержки</h2>
        <p>Круглосуточная поддержка клиентов для решения ваших вопросов.</p>
    </div>
    <!-- Добавьте здесь другие услуги, предоставляемые вашим магазином -->
</div>
{% endblock %}
