<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Admin panel</title>
</head>
<body>
    <nav class="flex justify-between text-3xl my-3">
        <ul class="flex ml-10">
            <li>Store</li>
        </ul>
        <ul class="flex gap-5 mr-10">
            <li>My account</li>
            <li>Log out</li>
        </ul>
    </nav>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>