{% extends "base.html" %}


{% block head %}
<title>Products</title>
<script>
    const getProduct = () => {
        const getInputValue = document.getElementById("product_id").value;
        window.location.href = `/pages/products/`
    }
</script>
{% endblock %}


{% block content %}
    <!-- Specific content for the user page goes here -->
 <div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/pages/admin" class="list-group-item list-group-item-action">Dashboard</a>
                <a href="/pages/users" class="list-group-item list-group-item-action">Users</a>
                <a href="/pages/products" class="list-group-item list-group-item-action active" aria-current="true">
                    Products
                </a>
                                <a href="#" class="list-group-item list-group-item-action">Orders</a>
                <a href="#" class="list-group-item list-group-item-action">Settings</a>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Your content goes here -->
            <div class="form-group">
                <label for="product_id" style="margin: 5px">Product id:</label>
                <input id="product_id" type="text" class="form-control" style="margin: 5px" placeholder="Enter Product id">
                <button onclick="getProduct()" style="margin: 5px" type="button" class="btn btn-primary">Get</button>
            </div>
                <table class="table table-bordered">
                    <!-- Use a table for better structure and display of product data -->
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_item in products %}
                            <tr>
                                <td>{{ product_item.id }}</td>
                                <td>{{ product_item.category }}</td>
                                <td>{{ product_item.name }}</td>
                                <td>{{ product_item.description }}</td>
                                <td>{{ product_item.qty_in_stock }}</td>
                                <td>{{ product_item.product_image }}</td>
                                <td>{{ product_item.price }}</td>
                                <td><button onclick="getProduct()" style="margin: 5px" type="button" class="btn btn-primary">Delete</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock %}