a {
    font-size:14px;
    font-weight:700
    }
.superNav {
    font-size:13px;
}

.form-control {
    outline:none !important;
    box-shadow: none !important;
}

@media screen and (max-width:540px){
    .centerOnMobile {
    text-align:center
    }
}

  /* Adjust the width of the carousel container */
  #carousel-container {
    max-width: 1300px; /* Set your desired maximum width */
    margin: auto; /* Center the container */
  }

  /* Adjust the width of the carousel images */
  #demo .carousel-inner img {
    width: 100%; /* Set the width to 100% to make them responsive */
    height: auto; /* Maintain the aspect ratio */
  }

    body {
        padding: 0 40px 0 40px; /* Add padding to the body */
    }

    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        flex: 0 0 23%; /* Adjust the width of each card */
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-img-top {
        max-height: 200px;
        object-fit: cover;
        border-bottom: 1px solid #ddd;
        border-radius: 8px 8px 0 0;
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .card-text {
        font-size: 1.5rem;
        color: #555;
        margin-bottom: 15px;
    }

    .add-to-cart {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
    }